
*{
    margin: 0 ;
    padding: 0;
}

body{
    margin: 0 2rem;
}

.baner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;

    .lefttop{
        font-family: 'Dancing Script', cursive;
        font-weight: bold;
        font-size: 2rem;
        padding-left: 2rem;
    }

    .righttop{
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        padding-right: 1rem;
        font-weight: bold;
      
        #recipes{
            padding-right: 1rem;
        }
        img{
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid lightslategray;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0.8rem;
   

    a{
        text-decoration: none;
        color: black;
        
    }

}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 90%;
    gap: 1rem;
    margin: 2rem auto;
  
    .positioning{
        position: relative;
        text-align: center;
    
        

        p{
            background-color: black;
            position: absolute;
            height: 20%;
            top: 80%;
            width: 100%;
            opacity: 0.5;
            color: white;
        }
    }


    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
       
        
       
    }

    
}

.footercontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:black;
    color: white;

    .footernav{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1.5rem;
        font-size: 0.9rem;
        width: 80%;


        a{
            text-decoration: none;
            color: white;
            width: 10rem;
            text-align: center;

        }

        #recipes{ 
            border-left: 1px solid white;
            border-right: 1px solid white;
        }

        #faq{
            border-right: 1px solid white;
        }
    }

   .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;

        .icon{
            width: 2rem;
        }
        img{
            height: 1.2rem;
            width: 1.2rem;
           background-color: white;
           border-radius: 10px;
          
            
        }
   }

   .cp{
    font-size: 0.8rem;
   }
}




@media (max-width:480px) {
    body{
        display: grid;
        grid-template-columns: 1,1fr;

        .container{
            display: grid;
    grid-template-columns: repeat(1,1fr);
    
    
        }
        
    }
}

@media(min-width:481px)and(max-width:768px){
    body{
        display: grid;
        grid-template-columns: 2,1fr;

        .container{
            display: grid;
    grid-template-columns: repeat(2,1fr);
        }     
    }
}